.main__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1300px;
  margin: 35px 0 0 0;
}
.home__left-side__container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  max-width: 200px;
  gap: 25px;
}
.home__left-side__menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  max-width: 200px;
  height: 70px;
  border-radius: 5px;
  background: white;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}
.home__left-side__menu__element {
  display: flex;
  margin-left: 20px;
  width: fit-content;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #808080;
  transition: 0.05s linear;
  cursor: pointer;
}
.home__left-side__menu__element:hover {
  color: #6D27E7;
}
.home__left-side__menu__element_active {
  display: flex;
  width: fit-content;
  margin: 0 0 0 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #6D27E7;
  cursor: default;
}
.home__left-side__team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 200px;
  height: fit-content;
  border-radius: 5px;
  background: white;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}
.home__left-side__team__title {
  display: flex;
  align-self: center;
  justify-self: flex-start;
  margin: 0 0 0 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  cursor: default;
}
.home__left-side__team__title__container {
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}
.home__left-side__team__add-new__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 35px;
  gap: 10px;
  cursor: pointer;
}
.home__left-side__team__add-new__text {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #808080;
}
.home__left-side__team__add-new__icon {
  display: flex;
  width: 18px;
  height: 18px;
}
.home__right-side__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}
.home__right-side__title__container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 930px;
  height: -webkit-fill-available;
}
.home__right-side__title__text {
  display: flex;
  margin: 0 0 5px 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  font-family: Roboto, sans-serif;
  color: #333333;
  cursor: default;
}

.boards__container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 930px;
  height: -webkit-fill-available;
}

.board__container {
  flex: 0 0 auto;
  text-align: center;
  width: 100%;
  max-width: 220px;
  height: 100%;
  max-height: 100px;
  margin: 6px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
}
.board__name__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  border-radius: 5px 5px 0 0;
  border-right: 1px solid #7653DE;
  background: #7653DE;
}
.board__name__text {
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 16px;
  font-size: 20px;
  line-height: 15px;
  color: #F3F3F3;
  cursor: pointer;
}
.board__name__dots-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.board__description__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.board__description__text {
  display: flex;
  flex-grow: 10;
  justify-self: center;
  align-self: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  cursor: default;
}
.board__description__favorite {
  flex-grow: 1;
  align-self: flex-end;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

/*# sourceMappingURL=home.css.map */
