.profile-form {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;

    width: 836px;
    height: 599px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;

    margin-left: 5px;
    width: 160px;
    height: 599px;

    border-right-style: solid;
    border-right-color: var(--input-border-color);
    border-width: 1px;

    background-color: white;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.profile-nav {
    margin-top: 30px;
    margin-left: 30px;

    transition: 0.05s linear;
}

.profile-nav:hover {
    cursor: pointer;
    color: var(--electric-indigo);
}

.active-profile-nav {
    color: var(--electric-indigo);
}

.settings-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 676px;
    height: 599px;
    background-color: white;
    border-radius: 0 5px 5px 0;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: var(--grey-text-color);
}

.main-settings-button {
    padding: 14px 14px;
    background: linear-gradient(90deg, var(--violet) 0%, var(--blue) 100%);
    border-radius: 5px;
    border-style: none;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.settings-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: var(--grey-text-color);
}

.settings-input-with-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: var(--grey-text-color);
}

.settings-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    height: 96px;
    width: 96px;

    border-radius: 100px;
    box-shadow: 0 0 0 2px, 0 0 15px var(--input-border-color);
}

.change-avatar {
    margin-top: 70px;
    width: 96px;
    height: 23px;
    border-radius: 70%;
    left: 252px;
    top: 128px;

    background: rgba(0, 0, 0, 0.5);
    filter: blur(5px);
}

.checkbox-settings {
    display: flex;
    flex-direction: row;
    align-content: center;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: black;
}

.buttons-notifications {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
