// Цвета
$white: #FFFFFF;
$main-background-color : #F2F2F2;
$light-grey: #F3F3F3;
$input-border-color: #CCCCCC;
$scroll-inactive: #DDDDDD;
$scroll-active: #C7C7C7;
$grey-text-color: #808080;
$dark-grey: #333333;
$background_inactive: rgba(0,0,0,.3);
$blue: #4F4FD7;
$electric-indigo: #6D27E7;
$card-violet: #7653DE;
$violet: #A32CDF;
$red: #FF0404;

$darkolivegreen: #556b2f;

$navbar-gradient: linear-gradient(90deg, $blue 0%, $violet 100%);
$standard-gradient: linear-gradient(90deg, $violet 0%, $blue 100%);