@import "mixins";
@import "colors";

@media screen and (max-width: $mobile-breakpoint) {

    .card {
        max-height: 79vh !important;
    }

    .board-info-left-side {
        gap: 25px !important;
    }

    .board-info-left-side-collaborator {
        margin: 0 5px 0 0 !important;
    }
}

@media screen and (max-height: 450px) {

    .card {
        max-height: 65vh !important;
    }

}

// Информация о доске
.board-info {

    display: flex;

    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;

    height: 50px;
    max-height: 10vh;

    margin: 0 28px 0 28px;

    border-bottom: 1px solid $dark-grey;


    // Левая сторона информации о доске
    &-left-side {

        display: flex;
        flex-direction: row;


        // Название доски и иконка избранного
        &-name-favorite {

            display: flex;

            @include content-center;

            flex-flow: row wrap;

            margin-right: 50px;

            // Название доски
            &__board-name {
                display: flex;

                padding: 0;
                margin: 0 0 0 20px;

                @include standard-font(normal, 24px, 28px);
                border: none;

                background: none;

                cursor: pointer;

                // Поведение при наведении
                &:focus {
                    box-shadow: 0 1px 0 0;

                    outline: none;

                    cursor: text;
                }
            }

            // Избранное
            &-favorite {

                // Иконка избранного
                &-icon {
                    display: flex;

                    width: 23px;
                    height: 23px;

                    margin: 0 0 0 7px;

                    object-fit: cover;

                    color: $dark-grey;

                    cursor: pointer;
                }
            }
        }

        // Коллабораторы
        &-collaborator {
            height: 28px;
            width: 28px;

            margin: 0 10px 0 0;

            @include circle-icon;

            cursor: pointer;

            // Контейнер коллабораторов
            &s {
                display: flex;

                @include content-center;
                flex-flow: row wrap;

                flex-shrink: 3;
            }

        }
    }

    // Правая сторона информации о доске
    &-right-side {

        display: flex;

        // Настройки доски
        &__settings {

            // Иконка настроек
            &-icon {
                display: flex;
                justify-self: flex-end;

                width: 23px;
                height: 23px;

                margin: 0 16px 0 0;

                object-fit: cover;

                color: $dark-grey;

                cursor: pointer;
            }
        }
    }

}

// Добавление коллаборатора на доску
.add-collaborator {

    display: flex;

    position: absolute;

    z-index: 2;

    align-items: flex-start;
    justify-content: center;

    max-width: 270px;
    width: 100%;

    top: 95px;
    left: 40px;


    &-body {

        @include flex-column;

        position: relative;

        @include standard-shadow;

        align-items: center;
        justify-content: space-between;

        width: 100%;

        @include standard-border-radius;

        background: $white;
    }

    &__title {
        display: flex;

        align-self: flex-start;

        height: fit-content;

        margin: 16px 0 20px 22px;

        @include standard-font(normal, 16px, 19px);

        cursor: default;
    }

    &-element {
        @include flex-row;

        align-items: center;
        justify-content: space-between;

        width: 85%;

        margin: 0 0 10px 0;

        &__avatar {
            display: flex;

            align-self: flex-start;

            @include circle-icon;

            width: 28px;
            height: 28px;

            cursor: pointer;
        }

        &__name {
            display: flex;

            width: 100%;

            margin: 0 0 0 10px;

            @include standard-font(normal, 14px, 16px);

            color: $dark-grey;

            cursor: default;
        }

        &__delete{
            display: flex;

            width: 20px;
            height: 28px;

            cursor: pointer;
        }
    }

    &-add-new {

        @include flex-row;

        width: fit-content;

        justify-content: center;
        align-self: center;

        margin: 0 10px 5px 10px;
        padding: 10px 12px 10px 12px;

        @include standard-border-radius;

        cursor: pointer;

        &:hover {
            background: $element-active;
            transition: 0.1s linear;
        }

        &__icon {
            height: 18px;
            width: 18px;

            margin-right: 10px;
        }

        &__text {
            align-self: center;

            @include standard-font(normal, 14px, 16px);
        }
    }

    &__input {
        &:focus {
            border: 2px $electric-indigo solid !important;
        }

        width: 100%;

        align-self: center;

        padding: 10px;

        @include standard-font(normal, 14px, 16px);

        @include standard-border-radius;

        border: 2px $light-grey solid;

        word-break: break-all;

        outline: none;

        text-align: justify;

        color: $dark-grey;

        cursor: pointer;
    }

    &__button {
        display: flex;

        @include content-center;

        width: 50%;
        height: 100%;
        max-height: 30px;

        padding: 10px;
        margin: 12px 0 12px 0;

        @include standard-button;
    }

    &__close {
        position: absolute;

        z-index: 2;

        right: 0;

        width: 17px;
        height: 17px;

        align-self: flex-start;

        margin: 17px 17px 0 0;
        cursor: pointer;
    }
}


// Область размещения карточек
.scroll-cards-container {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;

    overflow: hidden;

    padding: 20px 35px 0 35px;

    overflow-x: auto;
}


// Карточка
.card {
    @include flex-column;

    width: 290px;
    height: fit-content;
    max-height: 80vh;

    margin: 6px;

    text-align: center;

    @include standard-shadow;
    @include standard-border-radius;

    background: white;

    &s {
        display: flex;
    }

    // Имя карточки
    &-name {
        @include flex-row;

        align-items: center;
        justify-content: space-between;

        min-height: 45px;

        border-radius: 5px 5px 0 0;

        border-right: 1px solid $card-violet;

        background: $card-violet;


        // Текст имени карточки
        &__text {
            display: flex;

            width: 240px;

            margin: 10px 0 10px 15px;

            @include standard-font(normal, 18px, 20px);
            text-align: start;
            word-break: break-word;
            color: $light-grey;

            cursor: pointer;

            // Поведение при наведении
            &:focus {
                outline: none;

                box-shadow: 0 1px 0 0;

                cursor: text;
            }
        }

        // Троеточие в названии
        &__dots {
            width: 18px;
            height: 18px;

            margin: 0 10px 0 0;

            cursor: pointer;
        }
    }

    // Контент карточки
    &-content {

        @include flex-column;

        margin: 10px 3px 0 0;

        overflow-y: auto;


        // Содержимое задачи
        &-task {
            @include flex-column;

            margin: 0 7px 10px 10px;

            min-height: fit-content;

            @include standard-border-radius;

            background: $light-grey;

            cursor: pointer;

            &:hover {
                background: $element-active;
                transition: 0.1s linear;
            }

            &:last-child {
                margin: 0 7px 0 10px;
            }

            // Контейнер тегов
            &-tags {
                @include flex-row;

                width: fit-content;

                border-radius: 5px 0 5px 0;

                overflow: auto;

                background: $light-grey;

                // Тег
                &__tag {
                    display: flex;

                    width: 30px;
                    height: 7px;

                    top: -0.1px;

                    border-radius: 0;

                    background: $darkolivegreen;
                }
            }

            // Описание задачи
            &__description {
                min-height: 17px;

                padding: 10px;

                @include standard-font(300, 15px, 17px);
                text-align: left;

                // Поведение, когда выбран
                &:focus {
                    outline: none;

                    @include standard-border-radius;

                    box-shadow: 0 0 0 2px $electric-indigo inset !important;

                    cursor: text;
                }
            }

            // Информация о задаче: дедлайн, количество выполненных подзадач, коллабораторы
            &-footer {
                @include flex-row;

                justify-content: space-between;

                padding: 0 10px 8px 10px;

                // Левая часть футера, состоящая из даты и прогресса
                &__info {
                    @include flex-row;

                    justify-content: space-evenly;

                    gap: 10px;

                    // Плашка с датой
                    &__date {
                        display: flex;

                        @include content-center;

                        width: 66px;
                        height: 30px;

                        @include standard-shadow;

                        @include standard-border-radius;

                        @include standard-font(normal, 15px, 17px);
                        color: $dark-grey;

                        background: $white;
                    }

                    // Плашка с прогрессом выполнения задачи
                    // (количество выполненных подзадач)
                    &__progress {
                        @include flex-row;

                        align-items: center;
                        justify-content: space-evenly;

                        width: 66px;
                        height: 30px;

                        @include standard-shadow;

                        @include standard-border-radius;

                        background: $white;

                        // Иконка прогресса
                        &__icon {
                            display: flex;

                            width: 18px;
                            height: 18px;
                        }

                        // Количество выполненных подзадач
                        &__count {
                            display: flex;

                            @include standard-font(normal, 15px, 17px);
                            color: $dark-grey;
                        }


                    }

                }

                // Коллабораторы
                &__collaborator {
                    width: 28px;
                    height: 28px;

                    @include circle-icon;

                    // Контейнер коллабораторов
                    &s {
                        @include flex-row;

                        justify-content: space-between;

                        gap: 5px;
                    }
                }
            }
        }

        // Добавление новой задачи
        &-add-new-task {
            @include flex-row;

            justify-content: center;

            padding: 10px 0 10px 0;

            margin: 10px;

            @include standard-border-radius;

            cursor: pointer;

            &:hover {
                background: $element-active;
                transition: 0.1s linear;
            }

            // Иконка добавления новой задачи
            &__icon {
                height: 18px;
                width: 18px;

                margin-right: 10px;
            }

            // Текст добавления новой задачи
            &__text {
                @include standard-font(300, 15px, 18px);
            }
        }
    }
}


// Новая карточка
.new-card {
    display: flex;

    flex: 0 0 auto;

    width: 290px;
    height: 90px;

    margin: 6px;

    @include standard-border-radius;
    @include standard-shadow;

    text-align: center;

    background: $white;

    // Контент новой карточки
    &-content {
        @include flex-column;
        flex-flow: row wrap;

        padding: 0 35px 0 0;
    }

    // Заголовок новой карточки
    &-title {
        @include flex-row;

        @include content-center;

        height: 45px;
        width: 290px;

        border-radius: 5px 5px 0 0;

        border-right: 1px solid $card-violet;

        cursor: pointer;

        background: $card-violet;

        // Текст заголовка новой карточки
        &__text {
            display: flex;

            align-items: center;

            @include standard-font(300, 18px, 17px);

            color: $light-grey;
        }

        // Добавление новой карточки
        &__add-new-icon {
            display: flex;

            width: 18px;
            height: 18px;

            margin-right: 10px;
        }
    }
}


// Кастомизация скроллбара
::-webkit-scrollbar {
    width: 10px;
    height: 12px;

    @include standard-border-radius;

    &-track {
        @include standard-border-radius;

        background: $light-grey;
    }

    &-thumb {
        background: $scroll-inactive;
        opacity: 0.5;

        @include standard-border-radius;

        &:hover {
            background: $scroll-active;
        }
    }
}

// Приглашение по ссылке
.invite {
    @include flex-column;
    width: 80%;

    &-users {
        display: flex;

        width: 100%;
    }


    &-link {
        align-self: center !important;

        width: 100% !important;

        padding: 10px !important;
        margin: 0 0 15px 0 !important;

        border: 2px $light-grey solid !important;

        &:focus {
            border: 2px $electric-indigo solid !important;
            box-shadow: none !important;
        }

        &:hover {
            cursor: pointer !important;
        }
    }

    &-text {
        margin: 0 0 3px -5px;

        @include standard-font(300, 12px, normal);
        //color: $grey-text-color;

        cursor: default;
    }
}
