@import "mixins";
@import "colors";

// Адаптивная верстка для телефона
@media screen and (max-width: $mobile-breakpoint) {

    .edit-task-content,
    .edit-task-content-name,
    .edit-task-content-info-container
    {
        width: 90% !important;
    }

    .edit-task-content {
        top: 10%
    }

    .edit-task-content-info {
        flex-flow: wrap !important;
    }

    .edit-task-content-info-elements {
        margin: 0 0 15px 0 !important;
    }

    .edit-tags {
        top: 210px !important;
    }
}

// div contenteditable placeholder как Vk!
[data-placeholder]:empty:before {
    content: attr(data-placeholder);

    color: $grey-text-color;

    @include standard-font(normal, 14px, 16px);
}

// Настройка задачи
.edit-task {
    display: none;
    flex-direction: column;

    position: fixed;

    align-items: center;

    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: $background_inactive;

    // Содержимое настройки задачи
    &-content {
        @include flex-column;
        flex-shrink: 0;

        // position: absolute;

        align-items: center;
        justify-content: flex-start;

        width: 100%;
        max-width: 615px;
        height: fit-content;
        margin: 10vh 0;

        @include standard-border-radius;
        @include standard-shadow;

        background: $white;

        // Название задачи
        &-name {
            display: flex;
            position: relative;

            justify-content: flex-start;
            justify-self: center;

            z-index: 1;

            width: 100%;
            max-width: 555px;

            padding: 25px 0 10px 0;

            border-bottom: 1px solid $dark-grey;

            // Текст названия задачи
            &__text {
                display: flex;

                width: 100%;
                max-width: 450px;

                padding: 0 50px 0 10px;

                border: none;
                outline: none;

                @include standard-font(normal, 18px, 21px);
                word-break: break-all;

                cursor: pointer;

                &:focus {
                    cursor: text;
                }
            }
        }

        // Информация по коллабораторам и тегам задачи
        &-info {
            @include flex-row;

            width: 100%;
            max-width: 540px;

            // Контейнер информации |~|
            &-container {
                @include flex-column;

                justify-content: flex-start;
                align-items: flex-start;

                width: 100%;
                max-width: 540px;

                margin: 20px 0 0 0;
            }

            // Названия блока информации
            &__title {
                display: flex;

                @include standard-font(normal, 14px, 16px);

                cursor: default;
            }

            // Набор элементов: коллабораторы и теги
            &-elements {
                @include flex-row;

                position: relative;

                flex-wrap: wrap;

                // Иконка добавления тега или коллаборатора
                &__add-new-icon {
                    display: flex;

                    height: 28px;
                    width: 28px;

                    margin: 10px 0 0 0 ;

                    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));

                    cursor: pointer;
                }
            }

            // Коллабораторы
            &-collaborator {
                position: relative;

                height: 28px;
                width: 28px;

                margin: 10px 10px 0 0;

                @include circle-icon;

                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));

                cursor: pointer;

                // Контейнер коллабораторов
                &-container {
                    @include flex-column;
                    justify-content: flex-start;

                    position: relative;

                    width: 100%;
                    max-width: 140px;

                    margin: 0 35px 0 0;
                }
            }

            // Теги
            &-tag {
                display: flex;

                @include content-center;

                width: fit-content;
                min-width: 28px;
                height: 28px;

                margin: 10px 10px 0 0;

                @include standard-border-radius;

                box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);

                cursor: pointer;

                // Контейнер тегов
                &-container {
                    @include flex-column;

                    justify-content: flex-start;

                    width: 100%;
                    max-width: 350px;

                    margin: 0 35px 0 0;
                }

                // Текст в теге
                &__text {
                    display: flex;

                    margin: 0 8px 0 8px;

                    @include standard-font(normal, 15px, 17px);
                }
            }
        }

        // Описание задачи
        &-description {
            @include flex-column;

            align-items: flex-start;
            justify-content: flex-start;

            width: 100%;
            max-width: 550px;

            padding: 20px 0 0 0;
            margin: 0 0 20px 0;

            // Заголовок описания задачи, слово "Описание",
            // Возможно, стоит проработать этот момент и
            // Создать шаблон для всех title'ов
            &__title {
                display: flex;

                @include standard-font(normal, 14px, 16px);

                cursor: default;
            }

            // Тело описания задачи
            &-body {
                @include flex-column;

                width: 100%;

                margin: 10px 0 0 0;

                @include standard-border-radius;

                background: $light-grey;

                &:focus-within {
                    box-shadow: 0 0 0 2px $violet inset;
                }

                // Стиль текста описания задачи
                &__text {
                    white-space: pre-wrap;

                    margin: 10px;

                    @include standard-font(300, 15px, 17px);
                    word-break: break-all;

                    border: none;
                    outline: none;

                    cursor: pointer;

                    // Поведение при наведении
                    &:focus {
                        cursor: text;
                    }
                }

                // Футер в описании, содержащий кнопку и поле
                // Для логического разделения внутри блока description
                &__footer {
                    @include flex-row;

                    justify-content: flex-start;

                    margin: 0 0 10px 0;

                    border-top: 1px solid $input-border-color;

                    &-save-button {
                        display: none;

                        @include content-center;

                        width: 100%;
                        max-width: 105px;
                        height: 100%;
                        max-height: 30px;

                        margin: 5px 0 0 0;
                        padding: 10px;

                        @include standard-button;

                        cursor: pointer;
                    }
                }


            }
        }

        // Вложения задачи
        &-attachments {
            @include flex-column;

            align-items: flex-start;
            justify-content: flex-start;

            width: 100%;
            max-width: 550px;

            // Заголовок
            &__title {
                display: flex;

                @include standard-font(normal, 14px, 16px);

                cursor: default;
            }

            // Тело с вложениями
            &-body {
                @include flex-column;

                align-items: center;

                width: 100%;

                margin: 10px 0 20px 0;

                @include standard-border-radius;

                background: $light-grey;

                &-element {
                    @include flex-row;

                    align-items: center;
                    justify-content: space-between;

                    width: 95%;
                    height: 25px;

                    margin: 10px 0 0 0;

                    &-left {
                        @include flex-row;

                        align-items: center;

                        max-width: 75%;

                        cursor: pointer;

                        &:hover ~ .edit-task-content-attachments-body-element-right {
                            color: $grey-text-color;
                        }

                        &__icon {
                            width: 24px;
                            height: 24px;
                            margin: 0 20px 0 0;
                        }

                        &__text {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;

                            @include standard-font(normal, 14px, 16px);

                            color: $electric-indigo;
                        }

                    }

                    &-right {
                        display: flex;
                        justify-content: flex-end;

                        color: $light-grey;
                        width: 100%;
                        min-height: 25px;

                        &:hover {
                            color: $grey-text-color;
                        }

                        &__delete {
                            align-self: center;

                            @include standard-font(normal, 12px, 18px);

                            cursor: pointer;

                            &:hover {
                                color: $electric-indigo;
                            }
                        }
                    }
                }
            }

            // Добавление нового вложения
            &-add-new {
                @include flex-row;

                width: fit-content;

                justify-content: center;
                align-self: center;

                margin: 5px 10px 5px 10px;
                padding: 10px 20px 10px 20px;

                @include standard-border-radius;

                cursor: pointer;

                &:hover {
                    background: $element-active;
                    transition: 0.1s linear;
                }

                // Иконка добавления нового вложения
                &__icon {
                    height: 24px;
                    width: 24px;
                    margin-right: 10px;
                }

                // Текст добавления нового вложения
                &__text {
                    align-self: center;

                    @include standard-font(normal, 14px, 16px);
                }
            }

        }

        // Чек-листы
        &-check-lists {
            @include flex-column;

            align-items: flex-start;
            justify-content: flex-start;

            width: 100%;
            max-width: 550px;

            // Заголовок
            &__title {


                &-container {
                    @include flex-row;

                    justify-content: space-between;

                    width: 100%;

                    margin: 0 0 5px 0;
                }

                display: flex;

                @include standard-font(normal, 14px, 16px);

                cursor: default;
            }

            // Удаление чек-листа
            &__delete {
                display: flex;

                @include standard-font(normal, 12px, 18px);

                color: $grey-text-color;

                cursor: pointer;

                &:hover {
                    color: $electric-indigo;
                }
            }

            // Тело чек-листа
            &-body {
                @include flex-column;

                align-items: center;

                width: 100%;

                margin: 10px 0 20px 0;

                @include standard-border-radius;

                background: $light-grey;

                &-element {
                    @include flex-row;

                    align-items: center;
                    justify-content: flex-start;

                    width: 95%;

                    padding: 10px 0 5px 10px;

                    &s {
                        @include standard-border-radius;

                        background: $white;

                        padding: 5px;
                    }

                    &__icon {
                        width: 24px;
                        height: 24px;
                        margin: 0 20px 0 0;

                        cursor: pointer;
                    }

                    &__text {
                        width: 100%;

                        @include standard-font(normal, 14px, 16px);

                        border: none;
                        outline: none;

                        word-break: break-all;

                        text-align: justify;

                        color: $dark-grey;

                        cursor: pointer;
                    }

                    &-add-new {
                        @include flex-row;

                        width: fit-content;

                        justify-content: center;
                        align-self: center;

                        padding: 5px;
                        margin: 0 0 0 5px;

                        @include standard-border-radius;


                        cursor: pointer;

                        &:hover {
                            background: $element-active;
                            transition: 0.1s linear;
                        }


                        // Иконка добавления нового элемента в чек-листе
                        &__icon {
                            height: 24px;
                            width: 24px;

                            margin-right: 10px;
                        }

                        // Текст добавления нового элемента в чек-листе
                        &__text {
                            align-self: center;

                            @include standard-font(normal, 14px, 16px);
                        }
                    }
                }

            }

            // добавление нового чек-листа
            &-add-new {
                @include flex-row;

                position: relative;

                width: fit-content;

                justify-content: center;
                align-self: center;

                margin: 5px 10px 5px 0;
                padding: 10px 20px 10px 20px;

                @include standard-border-radius;


                cursor: pointer;

                // поведение при наведении
                &:hover {
                    background: $element-active;
                    transition: 0.1s linear;
                }


                // Иконка добавления нового чек-листа
                &__icon {
                    height: 24px;
                    width: 24px;

                    margin-right: 10px;
                }

                // Текст добавления нового чек-листа
                &__text {
                    align-self: center;

                    @include standard-font(normal, 14px, 16px);
                }
            }

        }

        // Комментарии к задаче
        &-comments {
            @include flex-column;

            align-items: flex-start;
            justify-content: flex-start;

            width: 100%;
            max-width: 550px;

            margin: 0 0 10px 0;


            // Заголовок
            &__title {
                display: flex;

                @include standard-font(normal, 14px, 16px);

                cursor: default;
            }

            // Блок написания новых комментариев
            &-add {
                @include flex-row;

                width: 100%;

                margin: 10px 0 10px 0;

                &__collaborator {
                    display: flex;

                    align-self: flex-start;

                    width: 28px;
                    height: 28px;

                    margin: 5px 15px 0 0;

                    @include circle-icon;

                    @include standard-shadow;
                }

                &-comment {
                    @include flex-column;

                    width: 100%;

                    &__text {

                        &:focus {
                            border: 2px $electric-indigo solid !important;
                            cursor: text;
                        }

                        padding: 10px;

                        @include standard-font(normal, 14px, 16px);

                        @include standard-border-radius;

                        border: 2px $light-grey solid;

                        word-break: break-all;

                        outline: none;

                        text-align: justify;

                        color: $dark-grey;

                        cursor: pointer;
                    }

                    &__button {
                        display: none;

                        @include content-center;

                        width: 100%;
                        max-width: 105px;
                        height: 100%;
                        max-height: 30px;

                        padding: 10px;
                        margin: 5px 0 0 0;

                        @include standard-button;
                    }

                }
            }

            // Тело с написанными комментариями
            &-body {

                display: flex;
                flex-direction: column-reverse;

                width: 100%;

                &-comment {

                    @include flex-row;

                    margin: 10px 0 5px 0;

                    &__collaborator {
                        display: flex;

                        align-self: flex-start;

                        width: 28px;
                        height: 28px;

                        margin: 5px 15px 0 0;

                        @include circle-icon;

                        @include standard-shadow;
                    }

                    &-right {
                        @include flex-column;
                        width: 100%;

                        &-header {
                            @include flex-row;

                            justify-content: space-between;

                            margin: 0 0 5px 0;

                            &__name {
                                display: flex;

                                @include standard-font(normal, 14px, 16px);

                                cursor: default;
                            }

                            &__delete {
                                display: none;

                                align-self: flex-end;

                                @include standard-font(normal, 12px, 14px);

                                color: $grey-text-color;

                                cursor: pointer;

                                &:hover {
                                    color: $electric-indigo;
                                }
                            }
                        }

                        &__text {
                            white-space: pre-wrap;

                            padding: 10px;

                            @include standard-font(normal, 14px, 16px);

                            @include standard-border-radius;

                            background: $light-grey;

                            cursor: pointer;

                            &:focus {
                                cursor: text;
                            }
                        }
                    }
                }




            }

        }

        // Удаление задачи
        &-delete {

            // Иконка удаления задачи
            &__icon {
                display: flex;

                position: absolute;

                align-self: flex-end;
                justify-self: flex-end;

                width: 28px;
                height: 28px;

                cursor: pointer;
            }
        }
    }

    // Закрытие настройки задачи
    &__close {
        position: absolute;

        z-index: 2;

        right: 0;

        width: 17px;
        height: 17px;

        align-self: flex-start;

        cursor: pointer;
    }
}

// PopUp с тегами
.edit-tags {
    display: none;

    position: absolute;

    z-index: 1;

    align-items: flex-start;
    justify-content: center;

    top: 140px;

    &-add {
        @include flex-column;

        justify-content: space-between;
        align-items: center;

        width: 100vw;
        max-width: 225px;

        @include standard-border-radius;

        @include standard-shadow;

        background: $white;

        &__title {
            display: flex;

            @include standard-font(normal, 16px, 19px);

            margin: 15px 45px 0 0;

            cursor: default;
        }

        &-tag {
            display: flex;

            position: relative;

            align-items: center;
            justify-content: space-between;

            width: 100vh;
            max-width: 185px;
            height: 100vh;
            max-height: 32px;

            margin: 4px;

            @include standard-border-radius;

            @include standard-shadow;

            background: $input-border-color;

            cursor: pointer;

            &__name {
                @include standard-font(normal, 14px, 16px);

                margin: 0 0 0 10px;
            }

            &__line {
                @include flex-row;

                justify-content: space-evenly;
                align-items: center;

                width: 90%;
            }
        }

        &__pen-icon {
            display: flex;

            width: 18px;
            height: 18px;

            margin: 0 0 0 5px;

            cursor: pointer;
        }

        &-tags {
            @include flex-column;

            align-items: center;

            margin: 10px 0 0 0;
        }

        &-new {
            @include flex-row;

            justify-content: center;

            padding: 8px;
            margin: 5px;

            @include standard-border-radius;

            cursor: pointer;

            &:hover {
                background: $element-active;
                transition: 0.1s linear;
            }

            &__icon {
                height: 18px;
                width: 18px;

                margin-right: 10px;
            }

            &__text {
                @include standard-font(normal, 14px, 16px);
            }
        }

    }

    &-create {
        @include flex-column;

        justify-content: space-between;
        align-items: center;

        width: 100vw;
        max-width: 225px;

        @include standard-border-radius;

        @include standard-shadow;

        background: $white;

        &__title {
            display: flex;

            @include standard-font(normal, 16px, 19px);

            margin: 15px 45px 0 0;

            cursor: default;
        }

        &-tag {
            @include flex-row;

            @include content-center;

            flex-flow: wrap;

            max-width: 200px;

            &__name {
                display: flex;

                max-width: 200px;

                margin: 15px 0 15px 0;
            }

            &__color {
                display: flex;

                @include content-center;

                width: 32px;
                height: 32px;

                margin: 4px;

                @include standard-border-radius;

                @include standard-shadow;

                background: $input-border-color;

                cursor: pointer;
            }
        }

        &__button {
            @include standard-button;

            width: 50%;
            height: 30px;

            margin: 10px;

            @include standard-shadow;

        }
    }

    &__selected {
        outline: none;
        box-shadow: 0 0 0 2px $electric-indigo inset !important;

        &-icon {
            display: none;

            width: 17px;
            height: 17px;

            margin: 0 10px 0 0;

            &-color {
                display: none;

                width: 17px;
                height: 17px;
            }
        }


    }

    &__close {
        position: absolute;

        z-index: 2;

        right: 0;

        width: 17px;
        height: 17px;

        align-self: flex-start;

        margin: 17px 17px 0 0;
        cursor: pointer;
    }
}

// PopUp с чек-листами
.edit-check-lists {
    display: none;

    position: absolute;

    z-index: 1;

    align-items: flex-start;
    justify-content: center;

    margin: 10px 0 0 0;

    &-body {
        @include flex-column;

        position: relative;

        justify-content: space-between;
        align-items: center;

        width: 100vw;
        max-width: 250px;

        @include standard-border-radius;

        @include standard-shadow;

        background: $white;
    }

    &__title {
        display: flex;

        @include standard-font(normal, 16px, 19px);

        margin: 15px 45px 0 0;

        cursor: default;
    }

    &__name {
        display: flex;

        width: 190px;

        margin: 15px 0 0 0;
    }

    &__button {
        width: 50%;
        height: 30px;

        margin: 10px;

        @include standard-button;
    }

    &__close {
        position: absolute;

        z-index: 2;

        right: 0;

        width: 17px;
        height: 17px;

        align-self: flex-start;

        margin: 17px 17px 0 0;
        cursor: pointer;
    }
}

// Добавление коллаборатора на задачу
.edit-add-collaborator {
    display: flex;

    position: absolute;

    z-index: 2;

    align-items: flex-start;
    justify-content: center;

    width: 250px;
    // width: 100%;

    top: 65px;
    // left: 40px;

    &-body {
        @include flex-column;

        position: relative;

        @include standard-shadow;

        align-items: center;
        justify-content: space-between;

        width: 100%;

        @include standard-border-radius;

        background: $white;
    }

    &__title {
        display: flex;

        align-self: flex-start;

        height: fit-content;

        margin: 16px 0 20px 22px;

        @include standard-font(normal, 16px, 19px);

        cursor: default;
    }

    &-left-side {
        display: flex;

        width: 100%;

        cursor: pointer;
    }

    &-element {
        @include flex-row;

        align-items: center;
        justify-content: space-between;

        width: 85%;

        margin: 0 0 10px 0;

        &__avatar {
            display: flex;

            align-self: flex-start;

            @include circle-icon;

            width: 28px;
            height: 28px;

            cursor: pointer;
        }

        &__name {
            display: flex;

            align-items: center;

            width: 100%;

            margin: 0 0 0 10px;

            @include standard-font(normal, 14px, 16px);

            color: $dark-grey;
        }

        &_selected{
            display: none;

            width: 20px;

            cursor: pointer;
        }
    }

    &__close {
        position: absolute;

        z-index: 2;

        right: 0;

        width: 17px;
        height: 17px;

        align-self: flex-start;

        margin: 17px 17px 0 0;
        cursor: pointer;
    }
}
