@import "mixins";
@import "colors";

// Адаптивная верстка для телефона
@media screen and (max-width: $mobile-breakpoint) {

    .edit-task__content__container,
    .edit-task__content__name__container,
    .edit-task__content__info__container
    {
        width: 90% !important;
    }

    .edit-task__content__container {
        top: 10%
    }

    .edit-task__content__info {
        flex-flow: wrap !important;
    }

    .edit-task__content__info__elements {
        margin: 0 0 15px 0 !important;
    }

    .edit-tags__container {
        top: 210px !important;
    }
}

// div contenteditable placeholder как Vk!
[data-placeholder]:empty:before {
    content: attr(data-placeholder);

    color: $grey-text-color;

    @include standard-font(normal, 14px, 16px);
}

// Настройка задачи
.edit-task {

    // Контейнер настройки задачи
    &__container {
        display: none;

        position: absolute;

        align-items: flex-start;
        justify-content: center;

        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0;
        }

        top: 0;

        width: 100vw;
        height: 80vh;

        padding: 20vh 0 0 0 ;

        background-color: $background_inactive;

        &::after {
            content: "";
            display: flex;
            /*position: absolute;*/
            // right: -2rem;
            width: 100%;
            height: 20vh;
        }
    }

    // Содержимое настройки задачи
    &__content {

        // Контейнер настройки содержимого задачи
        &__container {
            @include flex-column;

            position: absolute;

            align-items: center;
            justify-content: flex-start;

            width: 100%;
            max-width: 615px;
            height: fit-content;

            @include standard-border-radius;
            @include standard-shadow;

            background: $white;
        }

        // Название задачи
        &__name {

            // Контейнер названия задачи
            &__container {
                display: flex;

                justify-content: flex-start;
                justify-self: center;

                z-index: 1;

                width: 100%;
                max-width: 555px;

                padding: 25px 0 10px 0;

                border-bottom: 1px solid $dark-grey;
            }

            // Текст названия задачи
            &__text {
                display: flex;

                width: 100%;
                max-width: 450px;

                padding: 0 50px 0 10px;

                border: none;
                outline: none;

                @include standard-font(normal, 18px, 21px);
                word-break: break-all;

                cursor: pointer;
            }
        }

        // Информация по коллабораторам и тегам задачи
        &__info {
            @include flex-row;

            width: 100%;
            max-width: 540px;

            // Контейнер информации |~|
            &__container {
                @include flex-column;

                justify-content: flex-start;
                align-items: flex-start;

                width: 100%;
                max-width: 540px;

                margin: 20px 0 0 0;
            }

            // Названия блока информации
            &__title {
                display: flex;

                @include standard-font(normal, 14px, 16px);

                cursor: default;
            }

            // Набор элементов: коллабораторы и теги
            &__elements {
                @include flex-row;

                position: relative;

                flex-wrap: wrap;

                // Иконка добавления тега или коллаборатора
                &__add-new__icon {
                    display: flex;

                    height: 28px;
                    width: 28px;

                    margin: 10px 0 0 0 ;

                    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));

                    cursor: pointer;
                }
            }

            // Коллабораторы
            &__collaborator {
                position: relative;

                height: 28px;
                width: 28px;

                margin: 10px 10px 0 0;

                @include circle-icon;

                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));

                cursor: pointer;

                // Контейнер коллабораторов
                &__container {
                    @include flex-column;
                    justify-content: flex-start;

                    width: 100%;
                    max-width: 140px;

                    margin: 0 35px 0 0;
                }
            }

            // Теги
            &__tag {
                display: flex;

                @include content-center;

                width: fit-content;
                min-width: 28px;
                height: 28px;

                margin: 10px 10px 0 0;

                @include standard-border-radius;

                box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);

                cursor: pointer;

                // Контейнер тегов
                &__container {
                    @include flex-column;

                    justify-content: flex-start;

                    width: 100%;
                    max-width: 350px;

                    margin: 0 35px 0 0;
                }

                // Текст в теге
                &__text {
                    display: flex;

                    margin: 0 8px 0 8px;

                    @include standard-font(normal, 15px, 17px);
                }
            }
        }

        // Описание задачи
        &__description {

            // Контейнер описания задачи
            &__container {
                @include flex-column;

                align-items: flex-start;
                justify-content: flex-start;

                width: 100%;
                max-width: 550px;

                padding: 20px 0 0 0;
            }

            // Заголовок описания задачи, слово "Описание",
            // Возможно, стоит проработать этот момент и
            // Создать шаблон для всех title'ов
            &__title {
                display: flex;

                @include standard-font(normal, 14px, 16px);

                cursor: default;
            }

            // Тело описания задачи
            &__body {
                @include flex-column;

                width: 100%;

                margin: 10px 0 20px 0;

                @include standard-border-radius;

                background: $light-grey;

                // Стиль текста описания задачи
                &__text {
                    white-space: pre-wrap;

                    margin: 10px;

                    @include standard-font(300, 15px, 17px);
                    word-break: break-all;

                    border: none;
                    outline: none;

                    cursor: pointer;

                    // Поведение при наведении
                    &:hover {
                        cursor: text;
                    }
                }

                // Футер в описании, содержащий кнопку и поле
                // Для логического разделения внутри блока description
                &__footer {
                    @include flex-row;

                    justify-content: flex-start;

                    margin: 0 0 10px 0;

                    border-top: 1px solid $input-border-color;

                    &__save-button {
                        display: flex;

                        @include content-center;

                        width: 100%;
                        max-width: 105px;
                        height: 100%;
                        max-height: 30px;

                        margin: 10px 0 0 10px;
                        padding: 10px;

                        @include standard-button;

                        cursor: pointer;
                    }
                }


            }
        }

        // Вложения задачи
        &__attachments {

            // Контейнер вложений
            &__container {
                @include flex-column;

                align-items: flex-start;
                justify-content: flex-start;

                width: 100%;
                max-width: 550px;
            }

            // Заголовок
            &__title {
                display: flex;

                @include standard-font(normal, 14px, 16px);

                cursor: default;
            }

            // Тело с вложениями
            &__body {
                @include flex-column;

                align-items: center;

                width: 100%;

                margin: 10px 0 20px 0;

                @include standard-border-radius;

                background: $light-grey;

                &__element {
                    @include flex-row;

                    align-items: center;
                    justify-content: space-between;

                    width: 95%;
                    height: 25px;

                    margin: 10px 0 0 0;

                    &__left {
                        @include flex-row;

                        align-items: center;

                        max-width: 75%;

                        cursor: pointer;

                        &:hover ~ .edit-task__content__attachments__body__element__right {
                            color: $grey-text-color;
                        }

                        &__icon {
                            width: 24px;
                            height: 24px;
                            margin: 0 20px 0 0;
                        }

                        &__text {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;

                            @include standard-font(normal, 14px, 16px);

                            color: $electric-indigo;
                        }

                    }

                    &__right {
                        display: flex;
                        justify-content: flex-end;

                        color: $light-grey;
                        width: 100%;
                        min-height: 25px;

                        &:hover {
                            color: $grey-text-color;
                        }

                        &__delete {
                            align-self: center;

                            @include standard-font(normal, 12px, 18px);

                            cursor: pointer;

                            &:hover {
                                color: $electric-indigo;
                            }
                        }
                    }
                }
            }

            // Добавление нового вложения
            &__add-new {

                // Контейнер добавления нового вложения
                &__container {
                    @include flex-row;

                    width: fit-content;

                    justify-content: center;
                    align-self: center;

                    margin: 5px 10px 5px 10px;
                    padding: 10px 20px 10px 20px;

                    @include standard-border-radius;

                    gap: 10px;

                    cursor: pointer;

                    &:hover {
                        background: $element-active;
                        transition: 0.1s linear;
                    }
                }

                // Иконка добавления нового вложения
                &__icon {
                    height: 24px;
                    width: 24px;
                }

                // Текст добавления нового вложения
                &__text {
                    align-self: center;

                    @include standard-font(normal, 14px, 16px);
                }
            }

        }

        // Чек-листы
        &__check-lists {

            // Контейнер вложений
            &__container {
                @include flex-column;

                align-items: flex-start;
                justify-content: flex-start;

                width: 100%;
                max-width: 550px;
            }

            // Заголовок
            &__title {

                &__container {
                    @include flex-row;

                    justify-content: space-between;

                    width: 100%;
                }

                display: flex;

                @include standard-font(normal, 14px, 16px);

                cursor: default;
            }

            // Удаление чек-листа
            &__delete {
                display: flex;

                @include standard-font(normal, 12px, 18px);

                color: $grey-text-color;

                cursor: pointer;

                &:hover {
                    color: $electric-indigo;
                }
            }

            // Тело чек-листа
            &__body {
                @include flex-column;

                align-items: center;

                width: 100%;

                margin: 10px 0 0 0;

                @include standard-border-radius;

                background: $light-grey;

                &__element {
                    @include flex-row;

                    align-items: center;
                    justify-content: flex-start;

                    width: 95%;

                    margin: 10px 0 0 0;

                    &__icon {
                        width: 24px;
                        height: 24px;
                        margin: 0 20px 0 0;

                        cursor: pointer;
                    }

                    &__text {
                        width: 100%;

                        @include standard-font(normal, 14px, 16px);

                        border: none;
                        outline: none;

                        word-break: break-all;

                        text-align: justify;

                        color: $dark-grey;

                        cursor: pointer;
                    }

                    &__add-new {

                        // Контейнер добавления нового элемента в чек-листе
                        &__container {
                            @include flex-row;

                            width: fit-content;

                            justify-content: center;
                            align-self: center;

                            margin: 5px 10px 5px 10px;
                            padding: 10px 20px 10px 20px;

                            @include standard-border-radius;

                            gap: 10px;

                            cursor: pointer;

                            &:hover {
                                background: $element-active;
                                transition: 0.1s linear;
                            }
                        }

                        // Иконка добавления нового элемента в чек-листе
                        &__icon {
                            height: 24px;
                            width: 24px;
                        }

                        // Текст добавления нового элемента в чек-листе
                        &__text {
                            align-self: center;

                            @include standard-font(normal, 14px, 16px);
                        }
                    }
                }

            }

            // добавление нового чек-листа
            &__add-new {

                // контейнер создания нового чек-листа
                &__container {
                    @include flex-row;

                    position: relative;

                    width: fit-content;

                    justify-content: center;
                    align-self: flex-start;

                    margin: 5px 10px 5px 0;
                    padding: 10px 20px 10px 20px;

                    @include standard-border-radius;

                    gap: 10px;

                    cursor: pointer;

                    // поведение при наведении
                    &:hover {
                        background: $element-active;
                        transition: 0.1s linear;
                    }
                }

                // Иконка добавления нового чек-листа
                &__icon {
                    height: 24px;
                    width: 24px;
                }

                // Текст добавления нового чек-листа
                &__text {
                    align-self: center;

                    @include standard-font(normal, 14px, 16px);
                }
            }

        }

        // Комментарии к задаче
        &__comments {

            // Контейнер комментариев
            &__container {
                @include flex-column;

                align-items: flex-start;
                justify-content: flex-start;

                width: 100%;
                max-width: 550px;

                margin: 0 0 10px 0;
            }

            // Заголовок
            &__title {
                display: flex;

                @include standard-font(normal, 14px, 16px);

                cursor: default;
            }

            // Блок написания новых комментариев
            &__add {
                @include flex-row;

                width: 100%;

                margin: 10px 0 10px 0;

                &__collaborator {
                    display: flex;

                    align-self: flex-start;

                    width: 28px;
                    height: 28px;

                    margin: 5px 15px 0 0;

                    @include circle-icon;

                    @include standard-shadow;
                }

                &__comment {
                    @include flex-column;

                    width: 100%;

                    &__text {

                        &:focus {
                            border: 2px $electric-indigo solid !important;
                            cursor: text;
                        }

                        padding: 10px;

                        @include standard-font(normal, 14px, 16px);

                        @include standard-border-radius;

                        border: 2px $light-grey solid;

                        word-break: break-all;

                        outline: none;

                        text-align: justify;

                        color: $dark-grey;

                        cursor: pointer;
                    }

                    &__button {
                        display: none;

                        @include content-center;

                        width: 100%;
                        max-width: 105px;
                        height: 100%;
                        max-height: 30px;

                        padding: 10px;
                        margin: 5px 0 0 0;

                        @include standard-button;
                    }

                }
            }

            // Тело с написанными комментариями
            &__body {

                display: flex;
                flex-direction: column-reverse;

                width: 100%;

                &__comment {

                    @include flex-row;

                    margin: 10px 0 5px 0;

                    &__collaborator {
                        display: flex;

                        align-self: flex-start;

                        width: 28px;
                        height: 28px;

                        margin: 5px 15px 0 0;

                        @include circle-icon;

                        @include standard-shadow;
                    }

                    &__right {
                        @include flex-column;
                        width: 100%;

                        &__header {
                            @include flex-row;

                            justify-content: space-between;

                            margin: 0 0 5px 0;

                            &__name {
                                display: flex;

                                @include standard-font(normal, 14px, 16px);

                                cursor: default;
                            }

                            &__delete {
                                display: none;

                                align-self: flex-end;

                                @include standard-font(normal, 12px, 14px);

                                color: $grey-text-color;

                                cursor: pointer;

                                &:hover {
                                    color: $electric-indigo;
                                }
                            }
                        }

                        &__text {
                            white-space: pre-wrap;

                            padding: 10px;

                            @include standard-font(normal, 14px, 16px);

                            @include standard-border-radius;

                            background: $light-grey;

                            cursor: default;
                        }
                    }
                }




            }

        }

        // Удаление задачи
        &__delete {

            // Иконка удаления задачи
            &__icon {
                display: flex;

                position: absolute;

                align-self: flex-end;
                justify-self: flex-end;

                width: 28px;
                height: 28px;

                cursor: pointer;
            }
        }
    }

    // Закрытие настройки задачи
    &__close {
        position: absolute;

        z-index: 2;

        right: 0;

        width: 17px;
        height: 17px;

        align-self: flex-start;

        margin: 25px 25px 0 0;
        cursor: pointer;
    }
}

// PopUp с тегами
.edit-tags {

    &__container {
        display: none;

        position: absolute;

        z-index: 1;

        align-items: flex-start;
        justify-content: center;

        top: 140px
    }

    &__add {

        &__container {
            @include flex-column;

            justify-content: space-between;
            align-items: center;

            width: 100vw;
            max-width: 225px;

            @include standard-border-radius;

            @include standard-shadow;

            background: $white;
        }

        &__title {
            display: flex;

            @include standard-font(normal, 16px, 19px);

            margin: 15px 45px 0 0;

            cursor: default;
        }

        &__tag {
            display: flex;

            position: relative;

            align-items: center;
            justify-content: space-between;

            width: 100vh;
            max-width: 185px;
            height: 100vh;
            max-height: 32px;

            margin: 4px;

            @include standard-border-radius;

            @include standard-shadow;

            background: $input-border-color;

            cursor: pointer;

            &__name {
                @include standard-font(normal, 14px, 16px);

                margin: 0 0 0 10px;
            }

            &__line {
                @include flex-row;

                justify-content: space-evenly;
                align-items: center;

                width: 90%;
            }
        }

        &__pen-icon {
            display: flex;

            width: 18px;
            height: 18px;

            margin: 0 0 0 5px;

            cursor: pointer;
        }

        &__tags {

            &__container {
                @include flex-column;

                align-items: center;

                margin: 10px 0 0 0;
            }

        }

        &-new {

            &__container {
                @include flex-row;

                justify-content: center;

                padding: 8px;
                margin: 5px;

                gap: 10px;

                @include standard-border-radius;

                cursor: pointer;

                &:hover {
                    background: $element-active;
                    transition: 0.1s linear;
                }
            }

            &__icon {
                height: 18px;
                width: 18px;
            }

            &__text {
                @include standard-font(normal, 14px, 16px);

                color: $grey-text-color;
            }
        }

    }

    &__create {

        &__container {
            @include flex-column;

            justify-content: space-between;
            align-items: center;

            width: 100vw;
            max-width: 225px;

            @include standard-border-radius;

            @include standard-shadow;

            background: $white;
        }

        &__title {
            display: flex;

            @include standard-font(normal, 16px, 19px);

            margin: 15px 45px 0 0;

            cursor: default;
        }

        &__tag {

            &__name {
                display: flex;

                max-width: 200px;

                margin: 15px 0 15px 0;
            }

            &__container {
                @include flex-row;

                @include content-center;

                flex-flow: wrap;

                max-width: 200px;
            }

            &__color {
                display: flex;

                @include content-center;

                width: 32px;
                height: 32px;

                margin: 4px;

                @include standard-border-radius;

                @include standard-shadow;

                background: $input-border-color;

                cursor: pointer;
            }


        }

        &__button {
            @include standard-button;

            width: 50%;
            height: 30px;

            margin: 10px;

            @include standard-shadow;

        }
    }

    &__selected {
        outline: none;
        box-shadow: 0 0 0 2px $electric-indigo inset !important;

        &__icon {
            display: none;

            width: 17px;
            height: 17px;

            margin: 0 10px 0 0;

            &-color {
                display: none;

                width: 17px;
                height: 17px;
            }
        }


    }

    &__close {
        position: absolute;

        z-index: 2;

        right: 0;

        width: 17px;
        height: 17px;

        align-self: flex-start;

        margin: 17px 17px 0 0;
        cursor: pointer;
    }
}

// PopUp с чек-листами
.edit-check-lists {

    &__container {
        display: none;

        position: absolute;

        z-index: 1;

        align-items: flex-start;
        justify-content: center;

        margin: 10px 0 0 0;
    }

    &__body {
        @include flex-column;

        position: relative;

        justify-content: space-between;
        align-items: center;

        width: 100vw;
        max-width: 250px;

        @include standard-border-radius;

        @include standard-shadow;

        background: $white;
    }

    &__title {
        display: flex;

        @include standard-font(normal, 16px, 19px);

        margin: 15px 45px 0 0;

        cursor: default;
    }

    &__name {
        display: flex;

        width: 190px;

        margin: 15px 0 0 0;
    }

    &__button {
        width: 50%;
        height: 30px;

        margin: 10px;

        @include standard-button;
    }

    &__close {
        position: absolute;

        z-index: 2;

        right: 0;

        width: 17px;
        height: 17px;

        align-self: flex-start;

        margin: 17px 17px 0 0;
        cursor: pointer;
    }
}

// Добавление коллаборатора на задачу
.edit-add-collaborator {

    &__container {
        display: flex;

        position: absolute;

        z-index: 2;

        align-items: flex-start;
        justify-content: center;

        max-width: 250px;
        width: 100%;

        top: 135px;
        left: 40px;
    }

    &__body {
        @include flex-column;

        position: relative;

        @include standard-shadow;

        align-items: center;
        justify-content: space-between;

        width: 100%;

        @include standard-border-radius;

        background: $white;
    }

    &__title {
        display: flex;

        align-self: flex-start;

        height: fit-content;

        margin: 16px 0 20px 22px;

        @include standard-font(normal, 16px, 19px);

        cursor: default;
    }

    &__left-side {
        display: flex;

        width: 100%;

        cursor: pointer;
    }

    &__element {
        @include flex-row;

        align-items: center;
        justify-content: space-between;

        width: 85%;

        margin: 0 0 10px 0;

        &__avatar {
            display: flex;

            align-self: flex-start;

            @include circle-icon;

            width: 28px;
            height: 28px;

            cursor: pointer;
        }

        &__name {
            display: flex;

            align-items: center;

            width: 100%;

            margin: 0 0 0 10px;

            @include standard-font(normal, 14px, 16px);

            color: $dark-grey;
        }

        &__selected{
            display: none;

            width: 20px;

            cursor: pointer;
        }
    }

    &__close {
        position: absolute;

        z-index: 2;

        right: 0;

        width: 17px;
        height: 17px;

        align-self: flex-start;

        margin: 17px 17px 0 0;
        cursor: pointer;
    }
}
