@media screen and (max-width: 850px) {
  .home-left-side {
    display: none !important;
  }

  .board {
    width: calc(33% - 12px) !important;
  }
}
@media screen and (max-width: 470px) {
  .boards {
    justify-content: space-between !important;
  }

  .board {
    width: calc(50% - 12px) !important;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1300px;
  margin: 35px 0 0 0;
}
.home-left-side {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 25px 0 25px;
  width: 100%;
  max-width: 200px;
  gap: 25px;
}
.home-left-side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  max-width: 200px;
  height: 70px;
  border-radius: 5px;
  background: white;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}
.home-left-side-menu__element {
  display: flex;
  margin-left: 20px;
  width: fit-content;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #808080;
  transition: 0.05s linear;
  cursor: pointer;
}
.home-left-side-menu__element:hover {
  color: #6D27E7;
}
.home-left-side-menu__element_active {
  display: flex;
  width: fit-content;
  margin: 0 0 0 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #6D27E7;
  cursor: default;
}
.home-left-side-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 200px;
  height: fit-content;
  border-radius: 5px;
  background: white;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}
.home-left-side-team__title {
  display: flex;
  align-self: center;
  justify-self: flex-start;
  margin: 0 0 0 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  cursor: default;
}
.home-left-side-team__title-container {
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}
.home-left-side-team__add-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 35px;
  gap: 10px;
  cursor: pointer;
}
.home-left-side-team__add-new-text {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #808080;
}
.home-left-side-team__add-new-icon {
  display: flex;
  width: 18px;
  height: 18px;
}
.home-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  max-width: 1000px;
}
.home-right-side-title {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 930px;
  margin: 0 0 25px 0;
  border-bottom: 1px solid #333333;
}
.home-right-side-title__text {
  display: flex;
  margin: 0 0 5px 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  font-family: Roboto, sans-serif;
  color: #333333;
  cursor: default;
}

.boards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-start;
  width: 95%;
  max-width: 930px;
  height: -webkit-fill-available;
}
.boards-div {
  display: contents;
}

.board {
  flex: 0 0 auto;
  text-align: center;
  width: calc(25% - 12px);
  height: 100%;
  max-height: 100px;
  margin: 6px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  cursor: pointer;
}
.board-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  border-radius: 5px 5px 0 0;
  border-right: 1px solid #7653DE;
  background: #7653DE;
}
.board-name__text {
  display: flex;
  margin: 0 0 0 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 16px;
  font-size: 20px;
  line-height: 15px;
  color: #F3F3F3;
  cursor: pointer;
}
.board-name__dots-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.board-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.board-description__text {
  display: flex;
  flex-grow: 10;
  justify-self: center;
  align-self: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  cursor: default;
}
.board-description__favorite {
  flex-grow: 1;
  align-self: flex-end;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

/*# sourceMappingURL=home.css.map */
