@import "mixins";
@import "colors";


@media screen and (max-width: $mobile-breakpoint) {
    .reg-form {
        border-radius: 0 !important;
        box-shadow: none !important;
        width: 100% !important;
    }

    .login-form {
        border-radius: 0 !important;
        box-shadow: none !important;
        width: 100% !important;
    }
}

/* Форма логина */
.login-form {
    @include login-reg-form(400px, 378px);
}

/* Форма регистрации */
.reg-form {
    @include login-reg-form(400px, 487px)
}

.login-reg {
    // Поле ввода
    &-input {
        @include flex-column;

        width: 75%;

        @include standard-font(300, 12px, normal);
        color: $grey-text-color;

        cursor: default;
    }
    // Кнопка авторизации/регистрации
    &-button {
        width: 75%;

        padding: 14px 14px;

        @include standard-button;
    }
    // Ссылка на регистрацию/авторизацию (если нет/есть аккаунт(а))
    &__a {
        @include standard-font(300, 14px, 16px);
        text-decoration: none;

        color: $violet;
    }
    // Текст ошибки
    &__error {
        @include standard-font(300, 12px, normal);
        color: $red;

        margin-bottom: 5px;
    }
}
