@import "colors";
@import "mixins";
@import "login-reg";

@media screen and (max-width: $tablet-breakpoint) {

    .navigation {
        display: none !important;
    }

    .settings-body {
        border-radius: 5px !important;
    }

    .adaptive-navigation__button {
        display: flex !important;
    }

    .adaptive-navigation__container {
        display: flex !important;
    }
}

@media screen and (max-width: $mobile-breakpoint){

    .login-reg__button {
        width: 80% !important;
    }

    .login-reg__input {
        width: 80% !important;
    }
}

@media screen and (max-height: 450px) {

    .profile-form {
        margin: 15px 0 0 0 !important;
        height: 100vh !important;
    }

    .adaptive-navigation__container {
        height: 55% !important;
    }
}


// Форма profile
.profile-form {
    @include flex-row;

    align-items: start;
    justify-content: space-evenly;

    width: 95%;
    max-width: 840px;
    flex-basis: 600px;

    @include standard-border-radius;
    @include standard-shadow;

    background: $white;
}

// Навигация по меню
.navigation {
    @include flex-column;

    align-items: start;
    justify-content: flex-start;

    width: 25%;
    // width: 100%;
    // max-width: 160px;
    height: 100%;

    border-right: 1px solid $input-border-color;

    border-radius: 5px 0 0 5px;

    @include standard-font(300, 14px, 16px);

    background-color: white;

    /* Элемент меню */
    &__element {
        margin: 30px 0 0 30px;

        color: $grey-text-color;
        transition: 0.05s linear;

        /* Активный элемент меню */
        &_active {
            margin: 30px 0 0 30px;

            font-weight: bold;

            color: $electric-indigo;
            cursor: default;
        }

        /* Элемент меню при наведении */
        &:hover {
            color: $electric-indigo;
            cursor: pointer;
        }
    }
}

// Настройки
.settings {

    // Область с настройками
    &-body {
        @include flex-column;

        align-items: center;
        justify-content: space-evenly;

        width: 100%;
        // max-width: 680px;
        height: 100%;

        background-color: $white;
        border-radius: 0 5px 5px 0;

        @include standard-font(300, 12px, normal);
        color: $grey-text-color;
    }

    // Кнопка в настройках
    &__button {
        @include standard-button;

        width: 50%;

        padding: 14px;
    }

    // Input в настройках
    &__input {
        @include flex-column;

        width: 50%;
        margin-top: 5px;

        @include standard-font(300, 12px, normal);
        color: var(--grey-text-color);

        // Контейнер, содержащий input'ы
        &__container {
            @include flex-column;

            align-items: center;

            width: 100%;
        }

        // input с логотипами
        &_with-logotype {
            @include flex-row;

            @include content-center;

            width: 100%;

            @include standard-font(300, 12px, normal);
            color: var(--grey-text-color);
        }
    }
}

// Аватарка в профиле
.avatar {
    z-index: 2;

    height: 96px;
    width: 96px;

    @include circle-icon;

    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));

    cursor: pointer;

    // Область изменения аватарки
    &__change-area {
        position: relative;

        z-index: 3;

        bottom: 35px;

        height: 33px;
        width: 96px;

        object-fit: cover;

        cursor: pointer;
    }

    // Ошибка аватарки
    &_error {
        @include standard-font(300, 12px, normal);
        text-align: center;
        color: $red;

        margin-bottom: 5px;
    }
}

// Логотип соц. сети
.logotype {
    margin: 0 25px 0 0;

    width: 37px;
    height: 37px;
}

// Изменения
.changes {

    // Изменения добавлены
    &__success {
        @include standard-font(300, 12px, normal);
        color: green;

        margin: 0 0 5px 0;
    }
}

// Закрытие настроек
.close {
    position: absolute;

    right: 0;

    width: 17px;
    height: 17px;

    align-self: flex-start;

    margin: 25px 25px 0 0;
    cursor: pointer;
}

// Адаптирующаяся навигация
.adaptive-navigation {
    height: 100%;

    // Кнопка открытия/закрытия
    &__button {
        display: none;

        position: absolute;

        z-index: 4;

        align-items: center;

        top: 25px;
        left: 25px;

        width: 25px;
        height: 25px;

        cursor: pointer;

        & > span {
            display: block;

            position: absolute;

            width: 100%;
            height: 2px;

            background-color: $grey-text-color;

            transition-duration: .25s;

            &::before{
                display: block;

                position: absolute;

                width: 100%;
                height: 2px;

                background-color: $grey-text-color;

                transition-duration: .25s;

                content: '';
                top: -8px;
            }

            &::after {
                display: block;

                position: absolute;

                width: 100%;
                height: 2px;

                background-color: $grey-text-color;

                transition-duration: .25s;

                content: '';
                top: 8px;
            }
        }
    }

    // Выплывающее меню
    &__container {
        display: none;
        flex-direction: column;

        position: absolute;

        visibility: hidden;

        z-index: 3;

        top: 0;
        left: -100%;

        width: 40%;
        height: 73.3%;

        margin: 0;
        padding: 80px 0;

        border-radius: 5px 0 0 5px;

        background-color: #f3f3f3;

        @include standard-shadow;
    }

    // Элемент меню
    &__element {
        display: block;

        width: fit-content;

        margin: 10px 0 12px 10%;

        transition: 0.05s linear;

        @include standard-font(300, 14px, 16px);
        color: $grey-text-color;

        cursor: pointer;

        // Поведение при наведении
        &:hover {
            color: $electric-indigo;
        }

        // Активный элемент
        &_active {
            font-weight: bold;

            color: $electric-indigo;
            cursor: default;
        }
    }
}

// Переключатель
#navigation__toggle {
    opacity: 0;

    &:checked ~ .adaptive-navigation__button > span {
        transform: rotate(45deg);
    }

    &:checked ~ .adaptive-navigation__button > span::before {
        top: 0;
        transform: rotate(0);
    }

    &:checked ~ .adaptive-navigation__button > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    &:checked ~ .adaptive-navigation__container {
        visibility: visible;
        left: 0;
    }
}
