@charset "UTF-8";
@media screen and (max-width: 470px) {
  .reg-form {
    border-radius: 0 !important;
    box-shadow: none !important;
    width: 100% !important;
  }

  .login-form {
    border-radius: 0 !important;
    box-shadow: none !important;
    width: 100% !important;
  }
}
/* Форма логина */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 378px;
  padding: 10px 0;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* Форма регистрации */
.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 487px;
  padding: 10px 0;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.login-reg__input {
  display: flex;
  flex-direction: column;
  width: 75%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: normal;
  color: #808080;
  cursor: default;
}
.login-reg__button {
  width: 75%;
  padding: 14px 14px;
  border-radius: 5px;
  border-style: none;
  background: linear-gradient(90deg, #A32CDF 0%, #4F4FD7 100%);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  cursor: pointer;
}
.login-reg__a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #A32CDF;
}
.login-reg__error {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: normal;
  color: #FF0404;
  margin-bottom: 5px;
}

@media screen and (max-width: 850px) {
  .navigation {
    display: none !important;
  }

  .settings-body {
    border-radius: 5px !important;
  }

  .adaptive-navigation__button {
    display: flex !important;
  }

  .adaptive-navigation-container {
    display: flex !important;
  }
}
@media screen and (max-width: 470px) {
  .login-reg__button {
    width: 80% !important;
  }

  .login-reg__input {
    width: 80% !important;
  }
}
@media screen and (max-height: 450px) {
  .profile-form {
    margin: 15px 0 0 0 !important;
    height: 100vh !important;
  }

  .adaptive-navigation-container {
    height: 55% !important;
  }
}
.profile-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
  width: 95%;
  max-width: 840px;
  flex-basis: 600px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 25%;
  height: 100%;
  border-right: 1px solid #CCCCCC;
  border-radius: 5px 0 0 5px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  background-color: white;
  /* Элемент меню */
}
.navigation__element {
  margin: 30px 0 0 30px;
  color: #808080;
  transition: 0.05s linear;
  /* Активный элемент меню */
  /* Элемент меню при наведении */
}
.navigation__element_active {
  margin: 30px 0 0 30px;
  font-weight: bold;
  color: #6D27E7;
  cursor: default;
}
.navigation__element:hover {
  color: #6D27E7;
  cursor: pointer;
}

.settings-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 0 5px 5px 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: normal;
  color: #808080;
}
.settings__button {
  border-radius: 5px;
  border-style: none;
  background: linear-gradient(90deg, #A32CDF 0%, #4F4FD7 100%);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  cursor: pointer;
  width: 50%;
  padding: 14px;
}
.settings__input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 5px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: normal;
  color: var(--grey-text-color);
}
.settings__input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.settings__input_with-logotype {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: normal;
  color: var(--grey-text-color);
}

.avatar {
  z-index: 2;
  height: 96px;
  width: 96px;
  clip-path: circle();
  object-fit: cover;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
  cursor: pointer;
}
.avatar__change-area {
  position: relative;
  z-index: 3;
  bottom: 35px;
  height: 33px;
  width: 96px;
  object-fit: cover;
  cursor: pointer;
}
.avatar_error {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  color: #FF0404;
  margin-bottom: 5px;
}

.logotype {
  margin: 0 25px 0 0;
  width: 37px;
  height: 37px;
}

.changes__success {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: normal;
  color: green;
  margin: 0 0 5px 0;
}

.close {
  position: absolute;
  right: 0;
  width: 17px;
  height: 17px;
  align-self: flex-start;
  margin: 25px 25px 0 0;
  cursor: pointer;
}

.adaptive-navigation {
  height: 100%;
}
.adaptive-navigation__button {
  display: none;
  position: absolute;
  z-index: 4;
  align-items: center;
  top: 25px;
  left: 25px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.adaptive-navigation__button > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #808080;
  transition-duration: 0.25s;
}
.adaptive-navigation__button > span::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #808080;
  transition-duration: 0.25s;
  content: "";
  top: -8px;
}
.adaptive-navigation__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #808080;
  transition-duration: 0.25s;
  content: "";
  top: 8px;
}
.adaptive-navigation-container {
  display: none;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  z-index: 3;
  top: 0;
  left: -100%;
  width: 40%;
  height: 73.3%;
  margin: 0;
  padding: 80px 0;
  border-radius: 5px 0 0 5px;
  background-color: #f3f3f3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.adaptive-navigation__element {
  display: block;
  width: fit-content;
  margin: 10px 0 12px 10%;
  transition: 0.05s linear;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #808080;
  cursor: pointer;
}
.adaptive-navigation__element:hover {
  color: #6D27E7;
}
.adaptive-navigation__element_active {
  font-weight: bold;
  color: #6D27E7;
  cursor: default;
}

#navigation__toggle {
  opacity: 0;
}
#navigation__toggle:checked ~ .adaptive-navigation__button > span {
  transform: rotate(45deg);
}
#navigation__toggle:checked ~ .adaptive-navigation__button > span::before {
  top: 0;
  transform: rotate(0);
}
#navigation__toggle:checked ~ .adaptive-navigation__button > span::after {
  top: 0;
  transform: rotate(90deg);
}
#navigation__toggle:checked ~ .adaptive-navigation-container {
  visibility: visible;
  left: 0;
}

/*# sourceMappingURL=profile.css.map */
