.navbar {
    display: flex;
    /*position: fixed;*/
    justify-content: space-around;
    align-items: center;
    background:  linear-gradient(90deg, var(--blue) 0%, var(--violet) 100%);
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.main_logo {
    margin: auto;
    width: 120px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.avatar-mini {
    margin-right: 20px;
    height: 32px;
    width: 32px;
    clip-path: circle();
    object-fit: cover;
    cursor: pointer;
}

.navbar-icon {
    margin-left: 20px;
    width: 28px;
    height: 28px;
    color: white;
    object-fit: cover;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50px;
    right: 10px;

    min-width: 160px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    color: black;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: var(--grey-text-color);
}

.dropdown-content a:hover {color: var(--electric-indigo)}

.show {display:flex;}
